nav{
    color: white;
}
header{
    float: inline-start;
    align-content: center;
    
}
/* texto del portafolio */
.texto{
    text-align: center;

}
footer{
align-items: baseline;
justify-items: center;
    text-decoration: white;
    background-color: black;
}
