nav {
  color: white;
}
header {
  float: inline-start;
  align-content: center;
}
/* texto del portafolio */
.texto {
  text-align: center;
}
footer {
  margin-top: 2px;
  margin-right: 2px;
  flex-direction: row;
  background-color: black;
  text-decoration: white;
}
footer{
align-items: baseline;
justify-items: center;
    background-color: black;

#correo {
  color: #fff;
}
